//
//  Release.xcconfig
//  TutorBuddy
//
//  Created by Folahanmi Kolawole on 16/07/2022.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Pods/Target Support Files/Pods-TutorBuddy/Pods-TutorBuddy.release.xcconfig"

APP_NAME = TutorBuddy
BUNDLE_ID = com.decagonhq.tutorbuddy
BASE_URL = https:/$()/api.tutorbuddy.net/api/v1/
